
services:
  bot:
    build: .
    container_name: skyvellum_bot
    restart: always
    volumes:
      - ./logs:/app/logs
      - ./database:/app/database
      - ./bot:/app/bot
    env_file:
      - .env

